html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  font-family: Roboto, sans-serif;
}

a {
  display: inline;
  text-decoration: none;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #1992d4;
  color: white;
  padding: 12px;
  padding-right: 72px;
}

.sidebar svg {
  fill: white;
}

.logo-section a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-section svg {
  width: 35px;
}

.logo-header {
  font-size: 1.2rem;
  font-weight: 900;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 6px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar-item svg {
  width: 24px;
}

.sidebar-item div {
  font-size: 1.1rem;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  flex: 0 0 30%;
}

.dashboard {
  background-color: #e2e8f0;
  flex: 1;
}